.visible {
	display: block;
}

.hidden {
	display: none;
}

.menuButton {
	color: white;
	background-color: rgb(137, 5, 6);
	border: none;
	border-radius: 4px;
	padding: 2px;	
}

.menuButton:hover{
	cursor: pointer;
}



.buttonsMenu {
	display: grid;
	grid-gap: 2vmin;	
	.oneBlock {
		background-color: rgb(137, 5, 6);
		border: none;		
		border-radius: 4px;
		text-align: center;
		align-self: center;
	}

	.oneBlock:hover{
		cursor: pointer;
	}

	span {
		color: white;
		font-size: 1.3vmax;
	}
}

.contactField {
	a {
		text-decoration: none;
		color: rgb(137, 5, 6);
		font-size: 1.5em;
		i {
			font-size: 2em;
			padding-right: 10%;
		}
	}
}

@media only screen and (orientation: portrait) {
	.layerMenu {
		width: 90%;
		align-self: center;
		text-align: justify;
	}
	.oneBlock {
		padding-top: 1vh;
		padding-bottom: 1vh;
	}
	.contactField{
		padding-top: 3vh;
	}

	#textMenu {
	font-size: 1.3vmax;
}
}

@media only screen and (orientation: landscape) {
	.layerMenu {
		width: 40vw;
		max-height: 90vh;

		//	margin-top: 50%;
		//	transform: translate(0, -50%);
	}

	.buttonsMenu {
		grid-gap: 2vmin;
		width: 10vw;
	}
	.oneBlock {
		padding-top: 3vh;
		padding-bottom: 3vh;
		span {
			width: 80%;
		}
	}
	#textMenu {
		font-size: 2.4vmin;
	}
	.contactField{
		padding-top: 1vh;
	}
	
}
