ul {
	display: flex;
	flex-direction: row;
	list-style: none;
}

li {
	a, span {
		color: #ffd200;
		text-decoration: none;
		padding-left: 20px;
	}
	a:hover {
		color: black;
		text-decoration: underline;
	}
	span:hover {
		color: black;
		text-decoration: underline;
	}
}

.flex {
	display: flex;
}

.navbar {
	width: 97%;
	position: fixed;
	justify-content: flex-end;

	font-size: 1.5vmax;
}
