#layerForInfo {
	color: white;
	a {
		color: black;
	}
}

.layerMenu {
	color: white;
}

.skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.infoCard {
	max-height: 90vh;
	width: 100%;
	font-size: 1.3vmax;

	ul {
		display: flex;
		flex-direction: row;
		list-style: none;
		padding-left: 0px;
	}

	.shaddow {
		text-shadow: 1px 1px 1px black;
	}

	p {
		margin-top: 10px;
		padding-left: 25px;
		color: white;
		text-shadow: 1px 1px 1px black;
	}

	h3 {
		padding-left: 10px;
	}

	h4 {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.progress {
	height: 1.5vmax;
	width: 100vh / 10;

	border: solid black 1px;

	div {
		position: relative;
		height: 1.5vmax;
		background-color: #ffd200;
		font-size: 1.2vmax;
		padding-right: 5%;
	}
}

.textSmall {
	font-size: 1.1vmax;
	text-align: center;
}

.reddishColor {
	color: #ffd200;
	text-shadow: 1px 1px 1px black;
}
.whiteBar {
	color: black;
	text-shadow: 1px 1px 1px white;
}

#helloInfo {
	display: flex;
	flex-direction: column;
	div {
		font-size: 1.2vmax;
	}
}

@media only screen and (orientation: portrait) {
	#helloInfo {
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	#layerForInfo {
		width: 90%;

		padding-left: 5px;
		padding-right: 5px;

		.infoCard {
			height: 70vh;
			flex-basis: 70%;
			padding-top: 10%;
		}
	}

	.skills {
		.skillOne {
			flex-basis: 95%;
		}
	}
}

@media only screen and (orientation: landscape) {
	#layerForInfo {
		.infocard {
			margin-left: 10vw;
			margin-right: 10vw;
		}
	}

	.widthInfo {
		width: 60vw;
		margin-left: 10vw;
		margin-right: 10vw;
	}

	.widthMain {
		width: 50vw;
	}

	.skills {
		.skillOne {
			flex-basis: 45%;
		}
	}
}
