.imgInfo {
	display: block;
	margin: 0;
}

.textInfo {
	visibility: hidden;
	margin: 0;
}

.oneBlock {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.oneBlock:hover {
	border: 2px solid grey;
	background-color: #e8caaf;

	span {
		visibility: visible;
	}
}

a {
	padding-left: 0px;
}
