.imgInfo {
	display: block;
	margin: 0;
	
}

.textInfo {
	display: none;
	margin: 0;	
}

.oneBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
  height:100%;
}

.oneBlock:hover{
	border: 2px solid grey;
	background-color: #E8CAAF;

	span {
		display: block;
	}
}

a{
		padding-left: 0px;
}
