$project1text: #70a589;
$project1back: #031217;
$project1head: #ee4037;

$project2back: #fdf27c;
$project2text: #455d4d;
$project2head: #007bff;

$project3back: #c7956d;
$project3text: #2b222c;
$project3head: #5e4352;

$project4back: #0869cc;
$project4text: white;
$project4head: #ffd200;

$project5back: #d4af37;
$project5text: #82371c;
$project5head: white;

$project6back: black;
$project6text: white;
$project6head: #50c878;

$project7back: #017069;
$project7text: #eeeeee;
$project7head: black;

$project8back: #dedae7;
$project8text: #2f072a;
$project8head: #8f0732;

.projectPage {
	height: 92vh;
	margin-top: 8vh;
	border-radius: 20px;
	display: grid;
	grid-gap: 10px;

	.pic {
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			max-height: 100%;
			border: 2px solid black;
		}

		.mainCut {
			z-index: 498;
			height: 100%;
			text-align: center;
			margin: 0;
		}

		.mainFull {
			position: fixed;
			display: block;
			z-index: 991;
			top: 50%;
			left: 50vw;
			transform: translate(-50%, -50%);
			max-height: 90%;
			max-width: 90%;
			border: 5px solid black;
		}

		.imgInfo {
			align-self: center;
			font-style: italic;
			color: white;
			text-shadow: 1px 1px 3px black;
		}

		.mainCut:hover {
			transform: scale(1.1, 1.1);
		}
	}

	.pro {
		grid-area: pro;
		text-align: center;
	}

	.pic {
		grid-area: pic;
	}

	.lin {
		grid-area: lin;
		align-self: center;
		text-align: center;
		a:hover {
			color: white !important;
			text-decoration: none;
		}
	}

	.tech {
		grid-area: tech;
	}

	.ski {
		grid-area: ski;
	}

	.desc {
		grid-area: desc;
	}

	h2 {
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 1.8vmax;
	}

	h3 {
		font-size: 1.6vmax;
		text-align: center;
	}

	h3,
	p,
	ul {
		margin-left: 0px;

		margin-top: 0px;
		margin-bottom: 0px;
	}
	ul {
		padding: 0px;
		margin: 0px;

		list-style-position: inside;
		p {
			width: 100%;
		}
	}

	li {
		list-style-type: circle;
	}

	a {
		padding-bottom: 20px;
		padding-left: 20px;
	}

	p,
	a {
		padding-bottom: 10px;
		font-size: 1.2vmax;
	}
}

#project1 {
	background-color: $project1back;
	color: $project1text;
	h2,
	h3 {
		color: $project1head;
	}
	a {
		color: $project1head;
	}
}
#project2 {
	background-color: $project2back;
	color: $project2text;
	h2,
	h3 {
		color: $project2head;
	}
	a {
		color: $project2head;
	}
}

#project3 {
	background-color: $project3back;
	color: $project3text;
	h2,
	h3 {
		color: $project3head;
	}
	a {
		color: $project3head;
	}
}

#project4 {
	background-color: $project4back;
	color: $project4text;
	h2,
	h3 {
		color: $project4head;
	}
	a {
		color: $project4head;
	}
}

#project5 {
	background-color: $project5back;
	color: $project5text;
	h2,
	h3 {
		color: $project5head;
	}
	a {
		color: $project5head;
	}
}

#project6 {
	background-color: $project6back;
	color: $project6text;
	h2,
	h3 {
		color: $project6head;
	}
	a {
		color: $project6head;
	}
}

#project7 {
	background-color: $project7back;
	color: $project7text;
	h2,
	h3 {
		color: $project7head;
	}
	a {
		color: $project7head;
	}
}

#project8 {
	background-color: $project8back;
	color: $project8text;
	h2,
	h3 {
		color: $project8head;
	}
	a {
		color: $project8head;
	}
}

@media only screen and (orientation: portrait) {
	.projectPage {
		flex-direction: column-reverse;
		justify-content: center;
		margin-top: 5vh;
		height: 95vh;
		max-width: 100vw;
		margin-left: 0px;
		margin-right: 0px;

		grid-template-areas:
			"pro pro"
			"lin lin "
			"tech ski"
			"desc desc"
			"pic pic";
		grid-template-rows: 7% 5% 23% 20% 35%;

		.tech {
			padding-left: 4vw;
		}

		.ski {
			padding-right: 4vw;
		}
		.desc {
			padding-left: 4vw;
			padding-right: 4vw;
		}

		p,
		h3 {
			padding-left: 5px;
		}

		h2 {
			font-size: 2vmax;
			max-width: 60%;
			margin-left: auto;
			margin-right: auto;
		}
		h3 {
			font-size: 1.8vmax;
		}

		p,
		a {
			font-size: 1.5vmax;
		}

		.pic {
			width: 100vw;
			max-height: auto;

			.mainCut {
				width: 90%;
				padding-bottom: auto;
				height: auto;
				align-self: center;
				z-index: 498;
			}

			.imgInfo {
				display: none;
			}

			.mobileCut {
				display: none;
			}
		}
	}
	
}

@media only screen and (orientation: landscape) {
	.projectPage {
		margin-left: 1vw;
		margin-right: 1vw;
		max-width: 100%;
		flex-direction: row;
		grid-template-areas:
			"pro pro pro pro"
			"lin lin lin lin"
			"tech ski desc desc"
			"pic pic pic pic";
		grid-template-rows: 10% 7% 32% 40%;
		grid-template-colomns: 25% 25% 25% 25%;

		ul {
			padding-left: 10px;
		}
		.desc {
			padding-right: 10px;
		}
	}

	.mainCut {
		z-index: 990;
	}
	.mobileCut {
		z-index: 990;
	}
}
