%arrow {
  position:fixed;
  width: 20px;
  height: 20px;
  top: 90vh;
  left: 50%;
  
  border: solid #890506;
  border-width: 0 3px 3px 0;  
  padding: 3px; 
}

.arrowDown { 
@extend %arrow;
  top: 93vh; 
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  z-index: 500;
}

.arrowUp {
  @extend %arrow;  
  display: none;
  top: 2vh;  
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  z-index: 888;
}

#photoNameScroll{

  top:0px;
  left:10px;
  display: none; 
  position: fixed;
  z-index: 888;
  h3{
    margin-top:1em;
    padding-left: 10px;
    font-size: 1.5vmax;
  }
}

.navItem{
  cursor: pointer;
}

@media only screen and (orientation: portrait) {
  %arrow  {
  visibility: hidden;
}

}

@media (max-height: 600px) {
  %arrow  {
  visibility: hidden;
}

}

@media only screen and (orientation: portrait) and (max-width: 600px) {
  #photoNameScroll {
    h3 {
      font-size: 0px;
    }
  }

}

