.projectPage {
  height: 92vh;
  margin-top: 8vh;
  margin-left: 1vw;
  margin-right: 1vw;
  border-radius: 20px;
  display: grid;
  grid-template-areas: "pro pro pro pro" "lin lin lin lin" "tech ski desc desc" "pic pic pic pic";
  grid-template-rows: 10% 7% 27% 50%;
  grid-gap: 10px;
}
.projectPage .pic {
  display: flex;
}
.projectPage .pic .mainCut {
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid black;
}
.projectPage .pic .mainFull {
  position: fixed;
  display: block;
  z-index: 991;
  top: 50%;
  left: 50vw;
  transform: translate(-50%, -50%);
  max-height: 90%;
  max-width: 90%;
  border: 5px solid #890506;
  border-radius: 5px;
}
.projectPage .pic .mobileCut {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid black;
}
.projectPage .pic .mobileFull {
  position: fixed;
  display: block;
  max-width: 90%;
  max-height: 90%;
  z-index: 991;
  top: 50%;
  left: 50vw;
  transform: translate(-50%, -50%);
  border: 5px solid #890506;
  border-radius: 5px;
}
.projectPage .pic .imgInfo {
  align-self: center;
  text-align: center;
  font-style: italic;
  color: #A6A8A7;
}
.projectPage .pic .mobileCut:hover {
  transform: scale(1.1, 1.1);
}
.projectPage .pic .mainCut:hover {
  transform: scale(1.1, 1.1);
}
.projectPage .pro {
  grid-area: pro;
  text-align: center;
}
.projectPage .pic {
  grid-area: pic;
}
.projectPage .lin {
  grid-area: lin;
  align-self: center;
  text-align: center;
}
.projectPage .lin a:hover {
  color: white !important;
  text-decoration: none;
}
.projectPage .tech {
  grid-area: tech;
}
.projectPage .ski {
  grid-area: ski;
}
.projectPage .desc {
  grid-area: desc;
}
.projectPage h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.projectPage h3, .projectPage p, .projectPage ul {
  padding-left: 20px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.projectPage ul {
  padding: 0px;
  margin: 0px;
  list-style-position: inside;
}
.projectPage li {
  list-style-type: circle;
}
.projectPage a {
  padding-bottom: 20px;
  padding-left: 20px;
}
.projectPage p {
  padding-bottom: 10px;
}

#project1 {
  background-color: #031217;
  color: #70A589;
}
#project1 h2 {
  color: #EE4037;
}
#project1 a {
  color: #EE4037;
}

#project2 {
  background-color: #FDF27C;
  color: #455D4D;
}
#project2 h2 {
  color: #007bff;
}
#project2 a {
  color: #007bff;
}

#project3 {
  background-color: #c7956d;
  color: #2b222c;
}
#project3 h2 {
  color: #5e4352;
}
#project3 a {
  color: #5e4352;
}

#project4 {
  background-color: #7FCAC3;
  color: black;
}
#project4 h2 {
  color: #FF003C;
}
#project4 a {
  color: #FF003C;
}

#project5 {
  background-color: #d4af37;
  color: #82371c;
}
#project5 h2 {
  color: white;
}
#project5 a {
  color: white;
}

#project6 {
  background-color: black;
  color: white;
}
#project6 h2 {
  color: #50c878;
}
#project6 a {
  color: #50c878;
}

#project7 {
  background-color: #017069;
  color: #eeeeee;
}
#project7 h2 {
  color: black;
}
#project7 a {
  color: black;
}

#project8 {
  background-color: #DEDAE7;
  color: #2F072A;
}
#project8 h2 {
  color: #8F0732;
}
#project8 a {
  color: #8F0732;
}

@media only screen and (orientation: portrait) {
  .projectPage {
    flex-direction: column-reverse;
  }
  .projectPage .right {
    width: 90%;
    height: 70%;
    margin-top: 5vh;
  }
  .projectPage .left {
    flex-direction: row;
    width: 100vw;
    height: 30%;
  }
  .projectPage .left .mainCut {
    max-height: 90%;
    max-width: 40vw;
    display: block;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  .projectPage .left .imgInfo {
    display: none;
  }
  .projectPage .left .mobileCut {
    max-height: 90%;
    max-width: 40vw;
    display: block;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (orientation: landscape) {
  .projectPage {
    flex-direction: row;
  }

  .mainCut {
    max-height: 40%;
    max-width: 100%;
    z-index: 990;
  }

  .mobileCut {
    max-height: 40%;
    max-width: 100%;
    z-index: 990;
  }
}

/*# sourceMappingURL=projects.css.map */
