.projectPage {
  height: 98vh;
  height: calc(var(--vh, 1vh) * 98);
  margin-top: 2vh;
  margin-top: calc(var(--vh, 1vh) * 2);
  border-radius: 20px;
  display: grid;
  grid-gap: 10px;
}
.projectPage .pic {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectPage .pic img {
  max-height: 100%;
  border: 2px solid black;
}
.projectPage .pic .mainCut {
  z-index: 498;
  height: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.projectPage .pic .mainFull {
  position: fixed;
  display: block;
  z-index: 991;
  top: 50%;
  left: 50vw;
  transform: translate(-50%, -50%);
  max-height: 90%;
  max-width: 90%;
  border: 5px solid black;
}
.projectPage .pro {
  grid-area: pro;
  text-align: center;
}
.projectPage .pic {
  grid-area: pic;
}
.projectPage .lin {
  grid-area: lin;
  align-self: center;
  text-align: center;
}
.projectPage .lin a:hover {
  color: white !important;
  text-decoration: none;
}
.projectPage .tech {
  grid-area: tech;
}
.projectPage .ski {
  grid-area: ski;
}
.projectPage .desc {
  grid-area: desc;
}
.projectPage h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.8vmax;
}
.projectPage h3 {
  font-size: 1.6vmax;
  text-align: center;
  padding-bottom: 1em;
}
.projectPage h3,
.projectPage p,
.projectPage ul {
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.projectPage ul {
  padding: 0px;
  margin: 0px;
  list-style-position: inside;
}
.projectPage ul p {
  width: 100%;
}
.projectPage li {
  list-style-type: circle;
}
.projectPage a {
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.projectPage p,
.projectPage a {
  padding-bottom: 10px;
  font-size: 1.2vmax;
}

#project1 {
  background-color: #031217;
  color: #70a589;
}
#project1 h2,
#project1 h3 {
  color: #ee4037;
}
#project1 a {
  color: #ee4037;
}

#project2 {
  background-color: #fdf27c;
  color: #455d4d;
}
#project2 h2,
#project2 h3 {
  color: #007bff;
}
#project2 a {
  color: #007bff;
}

#project3 {
  background-color: #c7956d;
  color: #2b222c;
}
#project3 h2,
#project3 h3 {
  color: #5e4352;
}
#project3 a {
  color: #5e4352;
}

#project4 {
  background-color: #0869cc;
  color: white;
}
#project4 h2,
#project4 h3 {
  color: #ffd200;
}
#project4 a {
  color: #ffd200;
}

#project5 {
  background-color: #d4af37;
  color: #82371c;
}
#project5 h2,
#project5 h3 {
  color: white;
}
#project5 a {
  color: white;
}

#project6 {
  background-color: black;
  color: white;
}
#project6 h2,
#project6 h3 {
  color: #50c878;
}
#project6 a {
  color: #50c878;
}

#project7 {
  background-color: #017069;
  color: #eeeeee;
}
#project7 h2,
#project7 h3 {
  color: black;
}
#project7 a {
  color: black;
}

#project8 {
  background-color: #dedae7;
  color: #2f072a;
}
#project8 h2,
#project8 h3 {
  color: #8f0732;
}
#project8 a {
  color: #8f0732;
}

@media only screen and (orientation: portrait) {
  .projectPage {
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 5vh;
    margin-top: calc(var(--vh, 1vh) * 5);
    height: 95vh;
    height: calc(var(--vh, 1vh) * 95);
    max-width: 100vw;
    margin-left: 0px;
    margin-right: 0px;
    grid-template-areas: "pro pro" "lin lin " "tech ski" "desc desc" "pic pic";
    grid-template-rows: 7% 5% 23% 20% 35%;
  }
  .projectPage .tech {
    padding-left: 4vw;
  }
  .projectPage .ski {
    padding-right: 4vw;
    padding-left: 4vw;
  }
  .projectPage .desc {
    padding-left: 4vw;
    padding-right: 4vw;
  }
  .projectPage p,
.projectPage h3 {
    padding-left: 5px;
  }
  .projectPage h2 {
    font-size: 2vmax;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .projectPage h3 {
    font-size: 1.8vmax;
  }
  .projectPage p,
.projectPage a {
    font-size: 1.5vmax;
  }
  .projectPage .pic {
    width: 100vw;
    max-height: auto;
  }
  .projectPage .pic .mainCut {
    width: 90%;
    padding-bottom: auto;
    height: auto;
    align-self: center;
    z-index: 498;
  }
  .projectPage .pic .imgInfo {
    display: none;
  }
  .projectPage .pic .mobileCut {
    display: none;
  }
}
@media only screen and (orientation: landscape) {
  .projectPage {
    margin-left: 1vw;
    margin-right: 1vw;
    max-width: 100%;
    flex-direction: row;
    grid-template-areas: "pro pro pro pro" "lin lin lin lin" "tech ski desc desc" "pic pic pic pic";
    grid-template-rows: 10% 7% 32% 40%;
    grid-template-colomns: 25% 25% 25% 25%;
  }
  .projectPage ul {
    padding-left: 10px;
  }
  .projectPage .desc, .projectPage .tech, .projectPage .ski {
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .mainCut {
    z-index: 990;
  }

  .mobileCut {
    z-index: 990;
  }
}
@media (hover: hover) {
  .mainCut:hover {
    transform: scale(1.1, 1.1);
  }
}

/*# sourceMappingURL=projects.css.map */
